#call_dpd_carrier_popup {
    width: 296px;
    background: #fff;
    border: 1px solid #111;
    padding: 10px;
    position: fixed;
    top: 60px;
    z-index: 500;
    right: 180px;
}
#call_dpd_carrier_popup .time_range ,
#call_dpd_carrier_popup .date_range ,
#call_dpd_carrier_popup .label_info 
{
    text-align: left;
    padding-left: 20px;
}

#call_dpd_carrier_popup label {
    float: none;
}

#call_dpd_carrier_popup>div {
    padding-bottom: 5px;
    padding-top: 5px;
}

#call_dpd_carrier_popup .date_range {
}
#call_dpd_carrier_popup .label_info {
}


#call_dpd_carrier_popup .shipment_info label {
    font-size: 8px;
    width: 40px;
}

#call_dpd_carrier_popup .shipment_info input {
    width: 20px;
}

.process-icon-callCarrier {
    background-image: url("../../logo.gif");
    background-repeat: no-repeat;
    background-size: 16px 16px;
}


#dpd_return_popup,
#dpd_label_popup {
    width: 300px;
    background: #fff;
    border: 1px solid #111;
    padding: 10px;
    position: fixed;
    top: 60px;
    z-index: 500;
    right: 180px;
}
#dpd_return_popup .time_range,
#dpd_return_popup .date_range,
#dpd_return_popup .label_info,
#dpd_labe_popup .time_range,
#dpd_labe_popup .date_range,
#dpd_label_popup .label_info {
    text-align: left;
    padding-left: 20px;
}

#dpd_return_popup label,
#dpd_label_popup label {
    float: none;
}

#dpd_return_popup>div,
#dpd_label_popup>div {
    padding-bottom: 5px;
    padding-top: 5px;
}

#dpd_return_popup .date_range,
#dpd_label_popup .date_range {
}
#dpd_return_popup .label_info,
#dpd_label_popup .label_info {
}

#dpd_return_popup .shipment_info,
#dpd_label_popup .shipment_info {
    display: inline-block;
}

#dpd_return_popup .shipment_info label,
#dpd_label_popup .shipment_info label {
    font-size: 12px;
    width: 40px;
}

#dpd_return_popup .shipment_info input,
#dpd_label_popup .shipment_info input {
    width: 50px;
}

#dpd_return_popup input.close-button,
#dpd_label_popup input.close-button {
    float: right;
}